RAG AI Agent for Personal use case.json
{
  "name": "RAG AI Agent for Personal use case",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        272
      ],
      "id": "cb59fd2c-2fa4-4f8a-bcc0-99dc6ff37f79",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1HUtgmVKF_2VQ5eKwtIzOnrh5AGcXJfiN",
          "mode": "list",
          "cachedResultName": "FAQs for website AsifDevX.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1HUtgmVKF_2VQ5eKwtIzOnrh5AGcXJfiN/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        272
      ],
      "id": "4aa0f43c-2b55-4fda-aeb1-c28453285926",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "weYOkxqDFixZoG90",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        272,
        160
      ],
      "id": "83d7f8e6-d05e-468a-9f00-dc8493b51abd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "HhuS9afABHjnIal3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        336
      ],
      "id": "e539d673-7c9b-4bec-833a-da94f128ebef",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        96
      ],
      "id": "bf5a7d10-7159-4039-afb4-c8b23b406be3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "sgQub4vyYGnpCOiK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -128
      ],
      "id": "26e66962-4a11-4eb8-a722-5724a5c64f3f",
      "name": "When chat message received",
      "webhookId": "6c1e1f61-d83c-4e52-b69b-b8b0ed936c40"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        -336
      ],
      "id": "5d9084f2-d32c-4868-ba9e-3a55d562b3e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrive answers for query from chat input",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        144,
        -64
      ],
      "id": "17ad0fdf-1d26-4412-bf55-d527a93cd589",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "HhuS9afABHjnIal3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        -96
      ],
      "id": "1cc48607-c1c6-4b21-a4b2-2bc7631a5ce7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sgQub4vyYGnpCOiK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        -112
      ],
      "id": "6e5ba895-53c7-465d-8c6c-984297cc453e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Iq5trPNs2tN2rV1Y",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3be52a76-3b8a-4318-88a4-bdd6bf0c989f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d875ddbfe7dae113e1435ad8566432a18757aa5efa1a74f0b7bcc6b5559b01d"
  },
  "id": "rtEcpuoVzDZk4OKj",
  "tags": []
}